/* ------------------------------------------------ */
html {
	scrollbar-color: #faac04 black;
}
::-webkit-scrollbar {
	width: 16px;
}
::-webkit-scrollbar-track {
	background: black;
}
::-webkit-scrollbar-thumb {
	background: #faac04;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100;
	}
}
body {
	background-color: black;
	animation: 1s ease-in 0s 1 fadeIn;
	font-family: "Radio Canada";
	color: white;
}
a {
	text-decoration: none;
	color: white;
}
/* ------------------------------------------------ */
.top {
	display: flex;
	justify-content: center;
}
.intro-image {
	position: relative;
	text-align: center;
	color: white;
}
/* ------------------------------------------------ */
#main-search {
	display: flex;
	justify-content: center;
	padding: 20px;
	color: white;
	font-size: 19px;
}

#main-search-bar {
	border: #faac04 solid 3px;
	width: 30%;
	padding: 15px;
	border-radius: 15px;
	font-size: 15px;
	background-color: black;
	color: white;
}
#main-search-bar::placeholder {
	color: white;
}
/* ------------------------------------------------ */
#main-pokemon {
	color: white;
}
#main-pokemon article {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/* ------------------------------------------------ */
.pokeName {
	font-size: 30px;
	font-weight: bold;
}
.pokeName::first-letter {
	text-transform: capitalize;
}
.pokeNumber {
	font-size: 18px;
	font-style: italic;
}
.types {
	padding: 5px;
	display: flex;
	font-weight: bold;
	font-size: 20px;
}
.types div {
	padding: 5px;
}
.weakTypes {
	padding: 5px;
	text-align: center;
}
.weakTypes div {
	padding: 2px;
}
.weakTypesIndicator {
	font-size: 20px;
	font-weight: bold;
}
.resistTypes {
	padding: 5px;
	text-align: center;
}
.resistTypes div {
	padding: 2px;
}
.resistTypesIndicator {
	font-size: 20px;
	font-weight: bold;
}
